* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    vertical-align: baseline;
}

.imc-calculator {
    display: flex;
    height: 100vh;
}

.imc-info {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    background-color: rgba(82, 175, 236, 0.87);
}

.imc-info h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.imc-info p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    width: 50vw;
}

.imc-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.imc-form label {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.imc-form input {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    border: 1px solid #acaaaa;
    width: 100%;
    margin-top: 0.5rem;
    height: 25px;
}

#imc-button {
    border-radius: 10px;
    border: none;
    height: 40px;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    align-items: center;
    background-color: rgba(82, 175, 236, 0.87);
}

#imc-button:hover {
    background-color: rgba(78, 184, 255, 0.87);
}

.imc-result-container h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500; 
}

.imc-result-container p {
    font-size: 1rem;
    font-weight: 400; 
}

